/* Gradient background */
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #6EE7B7, #3B82F6);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Container card */
.container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
 width: 500px;
min-height: 120px;
  text-align: center;
}

/* Title */
.container h1 {
  font-size: 20px;
  margin-bottom: 15px;
}

/* Input and button in one line */
input[type="text"] {
  padding: 8px;
  width: 80%;
  border: 1px solid #898989;
  border-radius: 4px;
  outline: none;
}
button {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  margin-left: 5px;
  cursor: pointer;
  color: white;
}

/* Add / Update button */
button.add-btn {
  width: 70px;
  background-color: #8b5cf6; /* purple */
}

button.add-btn:hover {
  background-color: #7c3aed;
}

/* Delete button */
button.delete-btn {
  background-color: #ef4444; /* red */
}

button.delete-btn:hover {
  background-color: #dc2626;
}

/* Update button */
button.update-btn {
  background-color: #3b82f6; /* blue */
}

button.update-btn:hover {
  background-color: #2563eb;
}
.main-list{
    display: flex;
   
    align-items: center;
    justify-content: center;
}
/* List styling */
li {
  margin: 12px;
  padding: 5px;
  list-style: none;
  background: #e8e8e8;
  min-width: 70%;
  height: 30px;
  border-radius: 4px;
  text-align: left;
 

}
@media (max-width: 600px) {
  .container {
   width: 250px;
    padding: 15px;
  }

  .input-row {
    flex-direction: column;
  }
  input{
    margin-top: 5px;
  
   height: 30px;
  
  }

  button.add-btn {
    margin-top: 5px;
    width: 90%;
  }

  .main-list {
    flex-wrap: wrap;
  }
  .main-list li{
    width: 95%;
   
  }
  .main-list button {
   
    margin-top: 5px;
    width: 40%;
  }
}